body{
    background-image: url(./images/bg.jpg);
    font-family: 'Verdana';
}

h1{
    color: green;
}
.titolo{
    font-family: 'Verdana';
}

footer{
    color: blue;
}

.italiano{
    
    background-color: #ffe57b; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 3px 3px 5px rgba(0, 0, 109, 0.3); 
    width: 300px; 
    max-width: 100%; 
    margin: 0 auto; 
    margin-left: 40px;
}

.inglese{
    background-color: #ffe57b; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 3px 3px 5px rgba(0, 0, 255, 0.3); 
    width: 300px; 
    max-width: 100%; 
    margin: 0 auto; 
    margin-left: 40px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
  }