body {
    font-family: 'Roboto', sans-serif;
    
    background-image: url("img/bg.jpg");
    image-rendering: auto;
    background-size: auto;
    background-repeat:inherit;

}
 
#immaginesopra {   
    content: url("img/header.jpg"); 
    width: 1080px; 
    height: 571px;
    margin-left: auto;
    margin-right: auto;
}



#pannellosinistro {
    background-color: #ff9d00;
    color: #fff;
    padding: 20px;

    box-shadow: 2px 3px 3px #000;
    height: 1000px;
    width: 765px;
    margin-left: 375px;
}

nav {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    box-shadow: 2px 3px 3px #000;
    display: 10px;
    justify-content: flex-start; 
}

nav a {
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block; 
}

nav a:hover {
    background-color: red;
    color: yellow;
}

footer {
    content: url("img/footer.jpg");
    height: 370px;
    margin-left: auto;
    margin-right: auto;
}