body {
    font-family: 'Roboto', sans-serif; 
    background: url("img/bg.jpg") repeat-x;
    background-color: #44196b;
}
 
#immaginesopra {   
    content: url("img/header.jpg"); 
    width: 1080px; 
    height: 571px;
    margin-left: auto;
    margin-right: auto;
}

/* 44196b */

#pannellosinistro {
    background-color: #ff9d00;
    color: #fff;
    padding: 2px;
    box-shadow: 5px 8px 8px #0800ff;
    height: 1000px;
    width: 765px;
    margin-left: 381px;
    float: left;
}

#pannellodestro {
    background-color: #ff26b7;
    color: #fff;
    padding: 20px;
    box-shadow: 5px 8px 8px #0800ff;
    height: 1000px;
    width: 271px;
    margin-right: 0;
    float: left;
    /* content: url("img/divano.jpg"); */
}

#pannellodestrolink {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

#pannellodestrolink:hover {
    text-transform: uppercase;
    color: blue;
}

nav {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    box-shadow: 2px 3px 3px #000;
    display: 10px;
    justify-content: flex-start; 
    margin-left: 381px;
    margin-right: 380px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block; 
}

nav a:hover {
    background-color: red;
    color: yellow;
}

footer {
    content: url("img/footer.jpg");
    height: 370px;
    margin-left: auto;
    margin-right: auto;
}